.casino-catalogy-article {
  width: 68%;
  margin: auto;
  background-color: $white;
  padding: 46px 0 62px 0;
}

.category-card-wrapper {
  background-color: #fafbfc;
  padding: 70px 0 60px 0;
}

.category-payment-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;

  & .category-payment-card {
    flex: 0 0 23%;
    margin-right: 2.66%;
    margin-bottom: 38px;

    &:nth-last-child(4n + 1) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}
