.casino-catalogy-article {
  width: 68%;
  margin: auto;
  background-color: $white;
  padding: 46px 0 62px 0;
}

.category-card-wrapper {
  background-color: #fafbfc;
  padding: 70px 0 60px 0;
}

.slots-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;

  & .casino-card {
    flex: 0 0 32%;
    margin-right: 2%;
    margin-bottom: 18px;

    &:nth-last-child(3n + 1) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}
