.casino-catalogy-article {
  width: 68%;
  margin: auto;
  background-color: $white;
  padding: 46px 0 62px 0;
}

.category-card-wrapper {
  background-color: #fafbfc;
  padding: 70px 0 60px 0;
}

.slots-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
