.card {
  border: 0;
  border-radius: 10px;
  height: 410px;
  transform-style: preserve-3d;
  transition: 1s;
  box-shadow: 0 3px 6px rgba(32, 72, 131, 0.1);
}

.flip {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  user-select: none;
}

.fa-front {
  background-image: url("../img/front-icon.svg");
}

.fa-back {
  background-image: url("../img/back-icon.svg");
}

.flipped {
  transform: rotatey(-180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .stiker-box {
    display: flex;
    align-self: flex-start;
    margin-bottom: 11px;

    & .stiker {
      width: auto;
      margin-right: 7px;
    }
  }

  & .category-card-link {
    margin-bottom: 11px;

    & .category-card-img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: 0 auto 26px auto;
      overflow: hidden;

      & img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    & h4 {
      margin: 0;
      color: #3b3b3b;
      font-size: $h4;
      font-weight: $Medium;
      text-transform: uppercase;
      text-align: center;
    }
  }

  & .bonus-box {
    font-weight: $Medium;
    text-align: center;
    margin-bottom: 20px;

    & span {
      display: block;
    }
  }

  & .rating-box {
    text-align: center;
    margin-bottom: 20px;

    & .rating {
      display: block;
      color: #959595;
      font-size: 20px;
      font-weight: $Bold;
      line-height: 26px;

      & .rating-casino {
        color: $orange-color;
      }
    }

    & .total-votes {
      display: block;
      color: #9f9e9e;
      font-size: 12px;
      font-weight: $Bold;
      line-height: 15px;
      margin-bottom: 5px;
    }

    & .rating-range {
      width: 161px;
      height: 11px;
      border-radius: 10px;
      margin: auto;
      background-color: #ededed;
      position: relative;

      & .rating-range-casino {
        width: 81%;
        height: 11px;
        border-radius: 10px;
        background-color: #f6772e;
        position: absolute;
      }
    }
  }

  & .btn-box a {
    width: 95px;
  }
}

.back {
  transform: rotatey(-180deg);
  padding: 20px 12px 12px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h4 {
    color: #3b3b3b;
    font-size: $h4;
    font-weight: $Medium;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3px;
  }

  & .stiker-box {
    display: flex;
    margin-bottom: 20px;

    & .stiker {
      width: auto;
      margin-right: 7px;
    }
  }

  & ul {
    align-self: flex-start;
    margin-bottom: 15px;

    & li {
      display: flex;
      align-items: center;
      color: #242424;
      font-size: 14px;
      font-weight: $Medium;

      &::before {
        display: block;
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $title-color;
        margin-right: 6px;
      }
    }
  }

  & .info {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    & .title {
      display: block;
      color: #9f9e9e;
      font-size: 14px;
      font-weight: 500;
    }

    & .text {
      display: block;
      color: #777777;
      font-size: 14px;
      font-weight: 500;
    }
  }

  & .btn-box a {
    width: 95px;
  }
}
