.payment-card {
  box-shadow: 0 3px 6px rgba(32, 72, 131, 0.1);
  border-radius: 10px;
  background-color: $white;
  padding: 20px;

  &:hover {
    box-shadow: 0 3px 6px rgba(32, 72, 131, 0.4);
  }

  & .payment-card-img {
    height: 75px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    & img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }

  & .btn-orange {
    display: block;
  }
}
