.rating {
  display: flex;
  align-items: center;

  & li {
    width: 21px;
    height: 21px;
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
