.btn {
  padding: 0;
  margin: 0;

  &:focus {
    box-shadow: none;
  }
}

.btn-orange {
  display: inline-block;
  height: 38px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: $orange-color;
  color: $white-text;
  font-size: 13px;
  font-weight: $Medium;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    opacity: 0.8;
    color: $white-text;
  }
}

.btn-orange-transparent {
  display: inline-block;
  height: 38px;
  border-radius: 5px;
  border: 1px solid $orange-color;
  background-color: rgba(246, 119, 46, 0);
  color: $orange-color !important;
  font-size: 13px;
  font-weight: $Medium;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: rgba(246, 119, 46, 1);
    color: $white-text !important;
  }
}

.btn-white {
  display: inline-block;
  min-width: 135px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid $white;
  background-color: rgba(255, 255, 255, 0);
  color: $white-text;
  font-size: 11px;
  font-weight: $Medium;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: rgba(255, 255, 255, 1);
    color: $black-color;
  }
}

.stiker-orange {
  display: block;
  width: 80px;
  height: 20px;
  border-radius: 5px;
  background-color: $orange-color;
  color: $white-text;
  font-size: 11px;
  font-weight: $Medium;
  line-height: 20px;
  text-align: center;

  &:hover {
    opacity: 0.8;
    color: $white-text;
  }
}

.stikers-orange-mini {
  display: inline-block;
  height: 18px;
  border-radius: 5px;
  background-color: $orange-color;
  padding: 0 7px;
  color: $white-text;
  font-size: 12px;
  font-weight: $Medium;
  line-height: 18px;
}

.stiker-blue-mini {
  display: inline-block;
  width: 80px;
  height: 18px;
  border-radius: 5px;
  background-color: #204883;
  color: $white-text;
  font-size: 11px;
  font-weight: $Medium;
  line-height: 18px;
  text-align: center;
  padding: 0 7px;
}
