/* Colors */

$white: #fff;
$white-text: #fff;
$black-color: #000;
$text-color: #777777;
$orange-color: #f6772e;
$blue-color: #163665;
$title-color: #204883;

/* Fonts */

$Futura: "Futura", sans-serif;

$Book: 400;
$Medium: 500;
$Bold: 700;

/*title*/

$h1: 29px;
$h2: 26px;
$h3: 20px;
$h4: 17px;
$h5: 15px;
// $h6: 14px;

/*text*/

$font-text: 14px;
